- cache ['collectives-list-item', @box_user, box], 'message-train' do
  - if box.present?
    %li{ html_options }
      = link_to box.title, message_train.collective_box_path(box.parent.path_part, box.division)
      - if unread_count > 0
        = badge unread_count.to_s
