- if conversation.includes_unread_for?(@box.parent)
  = conversation_toggle conversation, 'eye-open', :read, :put, :mark_as_name.l(name: :read.l)
- else
  = conversation_toggle conversation, 'eye-close', :unread, :put, :mark_as_name.l(name: :unread.l)