- add_title @conversation.subject
- add_subtitle :updated_at_time.l(time: @conversation.updated_at)
#box
  #conversation-actions.conversation-actions.pull-right
    .btn.btn-default.btn-lg= conversation_ignored_toggle(@conversation)
  #message_train_conversation.clear-both
    - unless @messages.empty?
      #message_train_messages.messages.panel-group{aria: { multiselectable: 'true' }, role: "tablist"}
        = render @messages
      = paginate @messages
= modal 'attachment_preview', :attachment_preview.l do
  #image_placeholder