@import 'message_train';

.site-brand {
  margin: 0;
  font-size: 1.25rem;

  a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
  }
}

.logo {
  height: 1.5em;
  width: auto;
}
