- add_title @box.title
#night_train_conversations.list-group
  - @box.conversations.each do |conversation|
    .night_train_conversation.list-group-item
      = link_to conversation.subject, night_train.url_for([@box, conversation])
