- add_title @conversation.subject
- add_subtitle :started_at_time.l(time: @conversation.created_at)

#box
  .pull-right
    = conversation_ignored_toggle(@conversation)
  #night_train_conversation
    - unless @messages.empty?
      #accordion.messages.panel-group{aria: { multiselectable: 'true' }, role: "tablist"}
        = render @messages
      = paginate @messages