@import 'bootstrap-tags';
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

img {
  max-width: 100%;
}

.attachment-thumbnails {
  text-align: center;

  .thumbnail {
    text-align: center;
  }
}

.message-train-conversations {
  a, a:link, a:visited {
    color: $text-color;
  }

  a:hover {
    text-decoration: none;
  }

  input[type='checkbox'] {
    margin-right: 1em;
  }
  .unread {
    font-weight: bold;
  }

  .read {
    background-color: rgba($list-group-disabled-bg, 0.75);
  }

  .draft {
    font-style: italic;
  }

  .selected, .read.selected {
    a {
      color: $state-warning-text;
    }
    background-color: $state-warning-bg;
  }

  .flicker, .read.flicker, .selected.flicker {
    background-color: $state-info-bg;
    transition: background-color 0.1s ease-in;
  }

  .flicker.flicker-out, .unread.flicker.flicker-out {
    background-color: $list-group-bg;
    transition: background-color 1s ease-out;
  }

  .read.flicker.flicker-out {
     background-color: $list-group-disabled-bg;
     transition: background-color 1s ease-out;
   }
}

#box-actions {
  margin: 2em 0 1em 0;
  .check-all button {
    min-height: 2.5em;
  }
}

#conversation-actions {
  margin: 1em 0 1em 0;
}

.conversation-actions {
  a {
    visibility: hidden;
  }
  white-space: nowrap;
}

.date-column {
  white-space: nowrap;
}

tr:hover .conversation-actions a {
  visibility: visible;
}

.glyphicon-thumbnail {
  font-size: 170px;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear-both {
  clear: both;
}

.btn-compose {
  margin: 0 auto 10px auto;
  width: 100%;
  white-space: inherit;
}

.tags-input {
  border-radius: 4px;
  padding-left: 12px;
}

.dropdown-menu {
  width: 240px;
}