.message-train-lightbox-image,
.message-train-thumbnail {
  max-width: 100%;
}

.message-train-icon {
  display: inline-block;
}

.message-train-badge {
  display: inline-block;
  padding: 0.1em 0.5em;
  border-radius: 1em;
  background-color: #337ab7;
  color: #fff;
  font-size: 0.85em;
}

.message-train-attachment-thumbnails {
  text-align: center;

  .thumbnail {
    text-align: center;
  }
}

.message-train-conversations {
  a,
  a:link,
  a:visited {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  input[type='checkbox'] {
    margin-right: 1em;
  }

  .unread {
    font-weight: bold;
  }

  .read {
    background-color: rgba(#eee, 0.75);
  }

  .draft {
    font-style: italic;
  }

  .selected,
  .read.selected {
    background-color: #fcf8e3;
  }
}

.message-train-box-actions {
  margin: 2em 0 1em;
}

div.message-train-conversation-actions {
  margin: 1em 0;
}

td.message-train-conversation-actions {
  white-space: nowrap;
}

.message-train-date-column {
  white-space: nowrap;
}

.message-train-btn-compose {
  margin: 0 auto 10px;
  white-space: inherit;
  width: 100%;
}

.message-train-dropdown-nav-item {
  position: relative;

  ul {
    position: absolute;
    z-index: 10;
    min-width: 240px;
    list-style: none;
    margin: 0;
    padding: 0.5em;
    background: #fff;
    border: 1px solid #ddd;
  }
}
